body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.container {
    padding: 20px;
    text-align: center; /* Center text in the container */
}

.centered-content {
    text-align: center;
    margin: 20px 0;
}

.logo-image {
    width: 100px;
    height: auto;
    margin-bottom: 20px; /* Adds space between the logo and the heading */
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Centers the products grid */
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(33% - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    border-radius: 5px;
}

.product h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product p {
    font-size: 0.9em;
    color: #555;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #000;
    color: #fff;
}


.youtube-video {
    text-align: center;
    margin: 20px 0;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 100%; /* Ensures responsiveness */
}
